<div class="container">
    <div class="header-calendar">
        <div class="box">
            <button (click)="changeMonth(-1)" class="btn-prev">Anterior</button>
        </div>
        <h1 class="box">{{dateSelect | date:'MMMM, yyyy'}}</h1>
        <div class="box">
            <button (click)="changeMonth(1)" class="btn-next">Siguiente</button>
        </div>
    </div>
    
    <div class="event-box">
        <button (click)="openAddEvent()" mat-mini-fab aria-label="miniFabButton" color="primary">
            <mat-icon>add_circle</mat-icon>
        </button>
    </div>
    <ol>
        <li *ngFor="let day of week" class="name-day">{{day}}</li>
        <li class="day pointer" (click)="clickDay(day)" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
        *ngFor="let day of monthSelect;let first = first">
			<span>{{day?.value}}</span>
		</li>
        
    </ol>
</div>
